* {
    box-sizing: border-box;
}

p {
    margin-top: 20px;
    margin-left: 150px;
}

.content {
    background:white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
}

.content h2 {
    color: #313639;
    margin-top: 30px;
    margin-left: 150px;
}

a button {
    background-image: linear-gradient(#A9DB23, #82A81B);
    color: white;
    text-align: center;
    border: none;
    padding: 1em 3em;
    border-radius: 1em;
    margin-top: 50px;
    margin-left: 150px;
}