* {
    box-sizing: border-box;
}

.content {
    background: white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
    padding: 50px 50px;
}

.content h2 {
    color: #313639;
}

.content p {
    color: #313639;
}

.card {
    margin-top: 50px;
    padding: 50px 50px;
    border: 1px solid rgba(49, 54, 57, 0.5);
    border-radius: 25px;
}

.card form {
    display: flex;
    align-items: center;
}

.header {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 3px rgba(49, 54, 57, 0.25);
    position: relative;
}

.header img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.card .buttons {
    margin-left: 50px;
}

.btn-update, .btn-delete, .buttons a, .upload_avatar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    margin: 1em 0em;
}

.btn-update, .btn-delete {
    background-image: linear-gradient(#A9DB23, #82A81B);
    color: white;
    text-align: center;
    border: none;
    padding: 1em 3em;
    border-radius: 1em;
}

a:link {
	color: #313639;
}

a:visited {
	color: #313639;
}

a:active {
	color: #313639;
}