* {
    box-sizing: border-box;
}

.content {
    background: white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
    padding: 50px 50px;
}

.content h2 {
    color: #313639;
}

.topic {
    display: flex;
}

.topic a {
    width: 100%;
    padding: 10px;
    border: 1px solid #313639;
}

.topic a:active {
    color: #313639;
}

.topic a:visited {
    color: #313639;
}

table {
    width: 100%;
}

tr th, tr td {
    padding: 10px;
    border: 1px solid #313639;
}