* {
    box-sizing: border-box;
}

p {
    margin-top: 20px;
    margin-left: 150px;
}

.content {
    background:white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
}

.content h2 {
    color: #313639;
    margin-top: 30px;
    margin-left: 150px;
}