* {
    box-sizing: border-box;
}

.content {
    background: white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
    padding: 50px 50px;
}

.content h2 {
    color: #313639;
}

.group-1 {
    margin-top: 50px;
    float: left;
    padding: 50px 50px;
    border: 1px solid #313639;
}

a button {
    background-image: linear-gradient(#A9DB23, #82A81B);
    color: white;
    text-align: center;
    border: none;
    padding: 1em 3em;
    border-radius: 1em;
    margin-top: 50px;
}

a:link {
	color: #313639;
}

a:visited {
	color: #313639;
}

a:active {
	color: #313639;
}