@import url('https://kit.fontawesome.com/a076d05399.js');

* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	font-family: 'Arial Rounded MT', sans-serif;
	background: #f5f6fa;
}

.wrapper .sidebar {
	background: rgba(224, 172, 105, .25);
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
}

.wrapper .sidebar .home {
	margin-bottom: 22px;
	text-align: center;
}

.wrapper .sidebar .home h2 a {
	font-family: 'Arial Rounded MT', sans-serif;
	color: #313639;
}

.wrapper .sidebar ul li a {
	font-family: 'Arial Rounded MT', sans-serif;
	display: block;
	margin-top: 0;
	padding: 15px 30px;
	color: #313639;
	font-size: 16px;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
	font-family: 'Arial Rounded MT', sans-serif;
	color: #C78743;
	background:white;
    border-right: 3px solid rgb(145, 181, 8);
}

.wrapper .topbar {
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
	background: rgba(224, 172, 105, .5);
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px;
}

.wrapper .topbar ul li a {
	font-family: 'Arial Rounded MT', sans-serif;
	padding: 15px 30px;
	color: #313639;
	font-size: 16px;
}

.topbar .search-filter input[type=text] {
	font-family: 'Arial Rounded MT', sans-serif;
	width: 225px;
	padding: 6px;
	margin-left: 15px;
	padding-left: 15px;
	background: transparent;
	font-size: 16px;
	border: none;
	outline: none;
}

.topbar .search-filter input[type=text]::placeholder {
	font-family: 'Arial Rounded MT', sans-serif;
	color: #313639;
}

.topbar .search-filter input[type=text]:focus {
	font-family: 'Arial Rounded MT', sans-serif;
	border: 2px solid rgb(145, 181, 8);
	border-radius: 50px;
}

.topbar .search-filter button {
	padding: 6px 10px;
	color: #C78743;
	background: transparent;
	font-size: 16px;
	border: none;
	cursor: pointer;
}