* {
    box-sizing: border-box;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.right {
    right: 0;
    background: rgba(224, 172, 105, .5);
}

.BuurtstemSignup {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr [form] minmax(240px, 450px) 1fr;
    grid-template-rows: 1fr [form] 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.form-signup {
    padding: 1em;
    grid-column: form;
    grid-row: form;
}

h2 {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.sentence {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.form__field {
    padding-bottom: 1em;
}

.form__field label {
    display: block;
    margin-bottom: 0.2em;
}

.form__field .label__inline {
    display: inline-block;
}

.form__field input[type = text], 
.form__field input[type = password] {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-style: none;
    border-radius: 1em;
}

.btn-registreren {
    background-image: linear-gradient(#A9DB23, #82A81B);
    color: white;
    text-align: center;
    border: none;
    padding: 0.5em 2em;
    border-radius: 1em;
}

.login {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.login a:link {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.login a:active {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.login a:visited {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.title {
    text-align: center;
    margin-left: 300px;
    margin-top: 100px;
    color: #D16014;
}

.image-front1 {
    margin-left: -440px;
    margin-top: 350px;
    width: 350px;
    height: 350px;
}

.image-front2 {
    margin-top: 200px;
    width: 400px;
    height: 400px;
}