* {
    box-sizing: border-box;
}

.content {
    background: white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
    padding: 50px 50px;
}

.content h2 {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.content p {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}

.card {
    padding: 50px 50px;
    border: 1px solid rgba(49, 54, 57, 0.5);
    border-radius: 25px;
}

.card .back {
    display: flex;
    justify-content: space-between;
}

.card .header {
    display: flex;
    justify-content: space-between;
}

.card .actions {
    margin-top: 50px;
}

.card .actions #dislike {
    margin-left: 1em;
}

.card .commentSection .commentForm {
    margin-top: 50px;
}

a button {
    font-family: 'Arial Rounded MT', sans-serif;
    background-image: linear-gradient(#A9DB23, #82A81B);
    color: white;
    text-align: center;
    border: none;
    padding: 0.5em 2em;
    border-radius: 1em;
    float: right;
}

a:link {
    font-family: 'Arial Rounded MT', sans-serif;
	color: #313639;
}

a:visited {
    font-family: 'Arial Rounded MT', sans-serif;
	color: #313639;
}

a:active {
    font-family: 'Arial Rounded MT', sans-serif;
    color: #313639;
}