* {
    box-sizing: border-box;
}

.content {
    background: white;
    position: fixed;
    width: calc(100% - 225px);
	margin-left: 225px;
	height: 100%;
    padding: 50px 50px;
}

.content h2 {
    color: #313639;
}

.content p {
    color: #313639;
}

.card {
    padding: 50px 50px;
    border: 1px solid rgba(49, 54, 57, 0.5);
    border-radius: 25px;
}

.card .back {
    display: flex;
    justify-content: space-between;
}

.card .header {
    display: flex;
    justify-content: space-between;
}

.card .actions {
    margin-top: 50px;
}

.card .actions #dislike {
    margin-left: 1em;
}

.card .commentSection .commentForm {
    margin-top: 50px;
}

a:link {
	color: #313639;
}

a:visited {
	color: #313639;
}

a:active {
    color: #313639;
}